#banner {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 00px;
    height: 1000px;

    font-family: Garamond, serif;
    background-position: center;
    background-size:cover;
    color: black;
    font-style:normal;
    
}

body{
    margin: 0;
}
h1{
    font-family: Georgia, 'Times New Roman', Times,serif;
    text-align:center;
}

svg{
    background:black;
    fill: dimgrey;
    margin: 0;
}

#map{
    margin:0
    
}